:root{
	--mainColor:#152a8a;
	--secondaryColor:#06165c;

	--borderColor:#fff;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#3155f5;


	--buttonColor:#17a2b8;


}