:root{
	--mainColor:#b70104;
	--secondaryColor:#9d0208;

	--borderColor:#1d1520;

	--mainText:#ff0026;
	--secondaryText:#ebebeb;

	--themeDotBorder:#FFF;

	--previewBg:rgba(158, 55, 55, 0.719);
	--previewShadow:#b80208;


	--buttonColor:red;


}
