body {
    background-color:#1d1d1d !important;
    color:#989898;
  }
img.featured_image{
    border-radius:15px;
}
 .thumb{
              margin-bottom: 20px;
          }
          
          .page-top{
              margin-top:50px;
          }
  
     
  img.zoom {
      border-radius:15px;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
  

      ::-webkit-scrollbar {
        width:10px;
        background:#222;
      }
      ::-webkit-scrollbar-thumb {
        background:#3772ff;
        box-shadow:0 -100vh 0 100vh #3772ff;
      }