.nav-wrapper{
    border-radius:5px 5px 0 0;
    grid-area:nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation a{
    color:var(--mainText);
}


#navigation{
    margin:0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left:5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color:  #FC6058;
}

#dot-2{
    background-color:  #FEC02F;
}

#dot-3{
    background-color:  #2ACA3E;
}