
{% load static %}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'ico/thanatipicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav pull-right">
                 <li><a href="/" style="font-family:Russo One;">Home</a></li>
            </ul>
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="themed-galleries">
                <ul class="nav navbar-nav">
                    <li class="divider"></li>
                    {% if request.user.is_staff %}
                    <li><a href="{% url 'create_img' %}">Create Image</a></li>
                    {% endif %}             
                </ul>
            </div>
        </div>
    </nav>
    {% for img in imgs %}
    <div class="thumbs">    
            <a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="{% url 'img' img.slug %}"><img class="img-responsive" src="{{img.picture.url}}" ><span class="photo-label">{{img.headline}}</span></a>
                    {% endfor %}
    </div>
    
    
                   
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
 
</body>




