<div class="nav-wrapper">
							
    <!-- Link around dots-wrapper added after tutorial video -->
    
                                
                                
    <ul id="navigation">
    
    {% if request.user.is_authenticated %}
    <!<li><a href="{% url 'create_img' %}">Create Image</a></li>
    {% endif %}
    <li><a href="{% url 'hometh' %}">ภาษาไทย</a></li>
    <li><a href="{% url 'album' %}">Gallery</a></li>
    
                                
    </ul>
    
    <a href="{% url 'home' %}">
        <div class="dots-wrapper">
        <div id="dot-1" class="browser-dot"></div>
        <div id="dot-2" class="browser-dot"></div>
        <div id="dot-3" class="browser-dot"></div>
        
        </div></a>
    </div>