
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
    rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/swipebox.min.css' %}">
    <link rel="stylesheet"  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style type="text/css">
        img{
            max-width: 100%;
            object-fit: cover;
        }

        .featured_image{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

    <div class="main-container">
        <br>
        <a class="btn btn-sm btn-primary" href="{% url 'album' %}">&laquo Back to Posts</a>
        {% if request.user.is_authenticated %}
            <a class="btn btn-sm btn-primary" href="{% url 'update_img' img.slug %}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete_img' img.slug %}">Delete</a>
        {% endif %}
        <center><h1>{{img.headline}}</h1></center>
        <hr>
        <center>
        <img class="featured_image" src="{{img.picture.url}}">
        </center>
        <br>
    </div>
                    <center>
                    <hr>
                    <img class="img-responsive" src="{{img.picture1.url}}" width="400">&nbsp;&nbsp;
                    <img class="img-responsive" src="{{img.picture2.url}}" width="400">&nbsp;&nbsp;
                    <img class="img-responsive" src="{{img.picture3.url}}" width="400">&nbsp;&nbsp;
                    <img class="img-responsive" src="{{img.picture4.url}}" width="400">&nbsp;&nbsp;
                    <br><br>
                    <img class="img-responsive" src="{{img.picture5.url}}" width="400">&nbsp;&nbsp;
                    <img class="img-responsive" src="{{img.picture6.url}}" width="400">&nbsp;&nbsp;
                    <img class="img-responsive" src="{{img.picture7.url}}" width="400">&nbsp;&nbsp;
                    <img class="img-responsive" src="{{img.picture8.url}}" width="400">&nbsp;&nbsp;
                    </center>
                    <hr>




        <footer class="py-4 bg-primary text-white-20">
            <center>
                <h5 style="color:white;">Copyright &copy; Thanatip Portfolio</h5>
            </center>	
        </footer>
    </body>

    {% endblock content %}