{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<style type="text/css">
	img{
		max-width: 100%;
		object-fit: cover;
	}
</style>
<section class="s1">

<div class="main-container">

    <h1>Hellomobile Project Present</h1>
	<h4>Present Project Hellomobile</h4>
	<img src="{% static 'images/Hellomobile.jpg' %}">
	<hr>
	<img src="{% static 'images/Slide1.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide2.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide3.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide4.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide5.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide5.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide6.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide7.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide8.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide9.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide10.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide11.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide12.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide13.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide14.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide15.PNG' %}">
	<hr>
	<img src="{% static 'images/Slide16.PNG' %}">
	<hr>
</div>
</section>
{% endblock content %}